{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}My account{% endtrans %}
{% endblock %}

{% block body_id 'profile' %}
{% block body_class 'header-padding' %}

{% block body %}
    <div class="o-wrapper o-wrapper--full u-margin-top u-margin-bottom-large">
        <div class="o-grid">
            <div class="o-grid__item u-1/4@desktop">
                {%  include 'profile/sidebar.html.twig' %}
            </div>
            <div class="o-grid__item u-3/4@desktop">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

