.o-input {
    width: 100%;
    border: 1px solid theme-color(light-200);
    background: #fff;
    min-height: 3em;
    padding: 0.75em 1em;
    transition: border-color .2s;
    color: #000;
    font-family: $font-family-base;

    &:focus, &:active {
        border-color: #000;
    }

    &__label {
        @include font-size(15px, 1);
        color: #000;
        display: block;
        margin: 1em 0;
    }

    &--textarea {
        min-height: 8em;
        resize: none;
    }

    &__wrap {
        position: relative;
        display: flex;
    }

    &__suffix {
        line-height: 3em;
        padding: 0 1em;
        border: 1px solid theme-color(light-200);
        border-left: 0;
        background: #fff;
        z-index: 1;
    }

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type=number] {
    -moz-appearance: textfield;
}