.o-nav-toggle {
    width: 35px;
    height: 35px;
    cursor: hand;
    cursor: pointer;
    z-index: 100;
    position: relative;
    color: $text-color;
    display: inline-block;

    &__bar {
        display: block;
        left: 0;
        width: 100%;
        height: 2px;
        background: currentColor;
        position: absolute;
        transition: all .2s ease-in-out;
        margin-top: -1px;

        &--first { top: 20%; }
        &--middle { top: 50%; }
        &--last { top: 78%; }        
    }

    &.is-open {
        .o-nav-toggle__bar {
            &--first {
                top: 50%;
                transform: rotate(-45deg);
            }
            &--middle { 
                width: 0%;
            }
            &--last { 
                top: 50%;
                transform: rotate(45deg);
            }  
        }
    }

    &.is-submenu {
        .o-nav-toggle__bar {
            &--first {
                width: 50%;
                top: 33%;
                transform: rotate(-45deg);
            }
            &--middle { 
                width: 90%;
                right: 0;
                left: unset;
            }
            &--last { 
                width: 50%;
                top: 67%;
                transform: rotate(45deg);
            }  
        }
    }
}