.o-table {
    &__row {
        display: flex;
        border-bottom: 1px solid theme-color(light-200);
    }

    &__head &__cell {
        @include font-size(15px, 1.3);
        white-space: nowrap;
        font-weight: bold;
    }

    &__cell {
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5em 1em;
        text-align: center;
    }

    &__cell--image {
        width: 150px;
        flex-basis: auto;
        flex-grow: initial;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    &__cell--name {
        width: 250px;
        flex-basis: auto;
        flex-grow: initial;
        text-align: left;
        justify-content: flex-start;
    }

    &--left &__cell {
        justify-content: flex-start;
        padding: 0.5em 0;
    }
}
