.o-card {
    border: 1px solid theme-color(light-200);
    padding: $spacing-small;

    &__title {
        padding-bottom: $spacing-small;
        border-bottom: 1px solid theme-color(light-200);
        margin-bottom: $spacing-small;
        font-weight: 600;
        @include font-size(24px, 1.3);
    }
}