{% extends 'profile/base.html.twig' %}

{% block content %}
    <div class="c-profile">
        <h2 class="c-profile__title o-title u-margin-bottom" data-aos="fade-up">{{ title }}</h2>

            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                {% include 'forms/form-user-password-fields.html.twig' %}

                <div class="o-field u-margin-top-small">
                    <div class="o-grid o-grid--small u-padding-bottom-small">
                        <div class="o-grid__item u-1/2@small-desktop"></div>
                        <div class="o-grid__item u-1/2@small-desktop u-text-right">
                            <button type="submit" class="o-button o-button--primary o-button--full" data-aos="fade-up" data-aos-delay="300">
                                {% trans %}Save{% endtrans %}
                                <span class="o-icon o-icon--chevron-right"></span>
                            </button>
                        </div>
                    </div>
                </div>

                <hr data-aos="fade-in" data-aos-delay="350" />

            {{ form_end(form) }}
        
    </div>
{% endblock %}
