{% extends 'admin/base.html.twig' %}

{% block content %}
    <div class="c-admin-page">
        <h2 class="c-admin-page__title o-page-title" data-aos="fade-up">{% trans %}All countries{% endtrans %}</h2>

        {% if countries|length > 0 %}
            <div class="o-table">
                <div class="o-table__head">
                    <div class="o-table__row" data-aos="fade-up">
                        <div class="o-table__cell o-table__cell--name">{% trans %}Name{% endtrans %}</div>
                    </div>
                </div>
                <div class="o-table__body">
                    {% for country in countries %}
                        <div class="o-table__row" data-aos="fade-up" data-aos-delay="50">
                            <div class="o-table__cell o-table__cell--name"><a href="{{ path('admin-edit-country', {id: country.id}) }}">{{ country.name }}</a></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
