<div class="c-header-search c-submenu js-header-search">
    <form action="">
        <input class="c-header-search__input" id="" name="" placeholder="{% trans %}Start typing to search{% endtrans %}"/>
    </form>
</div>