<div class="c-header-cart js-header-cart">
    <a href="#" class="c-header-cart__button js-header-cart__toggle">
        <span class="c-header-cart__count js-header-cart__count">1</span>
    </a>

    <div class="c-header-cart__overlay js-header-cart__close"></div>
    <div class="c-header-cart__contents">
        <h5 class="c-header-cart__contents-title o-title">Twój koszyk</h5>
        <div class="c-header-cart__close js-header-cart__close">&times;</div>
    </div>
</div>