<header class="c-site-header js-header" data-aos="header-fade-in" data-aos-delay="50">
    <a href="#" class="o-nav-toggle c-site-header__toggle-nav js-toggle-nav js-anchor-initialized" data-cy="navigation-toggle">
        <span class="o-nav-toggle__bar o-nav-toggle__bar--first"></span>
        <span class="o-nav-toggle__bar o-nav-toggle__bar--middle"></span>
        <span class="o-nav-toggle__bar o-nav-toggle__bar--last"></span>
    </a>
    <div class="c-site-header__logo-wrap">
        <a href="{{ path('index') }}" title="Home">
            <img class="c-site-header__logo" src="{{ asset('build/images/logo.svg') }}" alt="Logo">
        </a>
    </div>
    <div class="c-site-header__menu">
        <div class="c-site-header__overlay"></div>
        <div class="c-site-header__nav">
            {% include 'partials/header/header-nav.html.twig' %}
        </div>
    </div>
    <div class="c-site-header__cart">
        {% include 'partials/header/header-cart.html.twig' %}
    </div>
    <div class="c-site-header__search">
        {% include 'partials/header/header-search.html.twig' %}
    </div>
</header>