{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}
{% endblock %}

{% block body_id 'category' %}

{% block body %}
	<section class="c-products u-padding-vertical-huge">
        <div class="o-wrapper">
            {% if products|length > 0 %}
                <div class="o-grid o-grid--tiny">
                    {% for product in products %}
                        <div class="o-grid__item u-1/3@wide u-1/2@small-desktop" data-aos="fade-up" data-aos-delay="{{ ((loop.index - 1) % 3) * 100 }}">
                            {% include 'product/product-tile.html.twig' with {product} %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}
