<div class="o-field{% if form_errors(form.oldPassword) %} is-invalid{% endif %}"
    data-validation="password"
    data-aos="fade-up"
    data-aos-delay="50">
    <label class="o-input__label" for="{{ form.oldPassword.vars.id }}">{% trans %}Old password{% endtrans %}</label>
    {{ form_widget(form.oldPassword, {
        'attr': {'class': 'o-input'}
    }) }}
    <div class="o-field__error">{% trans %}Please enter a valid password!{% endtrans %}</div>
</div>


<div class="o-field{% if form_errors(form.newPassword) %} is-invalid{% endif %}" 
    data-validation="password"
    data-aos="fade-up"
    data-aos-delay="50">
    <label class="o-input__label" for="{{ form.newPassword.vars.id }}">{% trans %}New password{% endtrans %}</label>
    {{ form_widget(form.newPassword, {
        'attr': {'class': 'o-input'}
    }) }}
    <div class="o-field__error">{% trans %}Please enter a valid password!{% endtrans %}</div>
</div>  