<div class="o-field{% if form_errors(form.shipping) %} is-invalid{% endif %}" 
    data-validation="required"
    data-aos="fade-up"
    data-aos-delay="50">
    <label class="o-input__label" for="{{ form.shipping.vars.id }}">{% trans %}Shipping{% endtrans %}</label>
    {{ form_widget(form.shipping, {
        'attr': {'class': 'o-input js-select2'}
    }) }}
    <div class="o-field__error">{% trans %}Please select shipping method!{% endtrans %}</div>
</div>  