{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="c-admin-page">
        <h1 class="c-admin-page__title o-page-title">{% trans %}All products{% endtrans %}</h1>

        
    </div>
{% endblock %}
