.c-header-cart {
    &__contents-title {
        font-weight: bold;
        margin-bottom: $spacing;
    }

    &__close {
        position: absolute;
        font-size: 2em;
        right: $spacing-small;
        top: 0;
        cursor: hand;
        cursor: pointer;
    }

    &__contents {
        position: fixed;
        top: $spacing-tiny;
        right: $spacing-tiny;
        bottom: $spacing-tiny;
        background: #fff;
        color: $text-color;
        width: 304px;
        padding: $spacing-small;
        z-index: 200;
        box-shadow: 0px 0px 5px rgba(#000, .15);
        opacity: 0;
        transform: translate(10%, 0);
        transition: all .3s;
        will-change: transform;
        pointer-events: none;
    }

    &.is-open &__contents {
        opacity: 1;
        transform: translate(0, 0);
        pointer-events: all;
    }

    &__overlay {
        position: fixed;
        z-index: 190;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#000,.5);
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-in-out;
    }

    &.is-open &__overlay {
        opacity: 1;
        visibility: visible;
    }

    &__count {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        border-radius: 50%;
        text-align: center;
        background: theme-color(primary);
        color: #fff;
        line-height: 25px;
        font-size: .825em;  
        font-weight: bold;   
        transition: color .3s linear, background-color .3s linear;
    }
}