.c-header-cart {
    &__contents-title {
        margin-bottom: $spacing;
    }

    &__close {
        position: absolute;
        font-size: 2em;
        right: $spacing-small;
        top: 0;
        cursor: hand;
        cursor: pointer;
    }

    &__contents {
        position: fixed;
        top: $spacing-tiny;
        right: $spacing-tiny;
        bottom: $spacing-tiny;
        background: #fff;
        border: 1px solid theme-color(light-200);
        color: $text-color;
        width: 304px;
        padding: $spacing-small;
        z-index: 200;
        opacity: 0;
        transform: translate(10%, 0);
        transition: all .3s;
        will-change: transform;
        pointer-events: none;

        body.admin & {
            top: $admin-bar-height + $spacing-tiny;
        }
    }

    &.is-open &__contents {
        opacity: 1;
        transform: translate(0, 0);
        pointer-events: all;
    }

    &__overlay {
        position: fixed;
        z-index: 190;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(#000,.5);
        visibility: hidden;
        opacity: 0;
        transition: opacity .4s ease-in-out;
    }

    &.is-open &__overlay {
        opacity: 1;
        visibility: visible;
    }

    &__count {
        display: inline-block;
        width: 25px;
        height: 25px;
        vertical-align: middle;
        border-radius: 50%;
        text-align: center;
        background: theme-color(primary);
        color: #fff;
        line-height: 25px;
        font-size: .825em;  
        font-weight: bold;   
        transition: color .3s linear, background-color .3s linear;
    }

    &__wrapper {
        margin-bottom: $spacing-small;
    }

    &__product {
        border-bottom: 1px solid theme-color(light-200);
    }

    &__product-image {
        width: 100%;
        padding-bottom: 50%;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: $spacing-small;
    }

    &__product-name {
        line-height: 1.2;
        margin-bottom: $spacing-tiny;
    }

    &__product-quantity {
        color: theme-color(light-250);
        @include font-size(14px);
    }

    &__product-price {
        margin-bottom: $spacing-tiny;
        text-align: right;

        & .o-price {
            @include font-size(16px);
            font-weight: bold;

            &.has-discount {
                @include font-size(14px);
                font-weight: normal;
            }
        }
    }

}