.c-filters {
    padding: $spacing-small;
    border: 1px solid theme-color(light-200);
    margin-bottom: $spacing-small;

    &__group {
        position: relative;
        margin-bottom: $spacing;

        &:not(:last-child):after {
            content: '';
            display: block;
            position: absolute;
            bottom: -$spacing-small;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 1px;
            background: theme-color(light-200);
        }
    }
}