.c-header-search {
    left: $spacing-tiny !important;
    right: $spacing-tiny !important;

    &__input {
        width: 100%;
        border: none;
        @include font-size(28px, 1.4);
        color: theme-color(light-300);

        &::placeholder {
            color: theme-color(light-250);
        }
    }
}