.c-filters { 
    padding: $spacing-small;
    border: 1px solid theme-color(light-200);
    margin-bottom: $spacing-small;
    opacity: 0;
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    
    @include mq($until: desktop) {
        animation: none;
        position: fixed;
        top: $spacing-tiny;
        left: $spacing-tiny;
        bottom: $spacing-tiny;
        background: #fff;
        width: 304px;
        z-index: 100;
        opacity: 0;
        transform: translate(-10%, 0);
        transition: all .3s;
        will-change: transform;
        pointer-events: none;
        overflow: auto;
        height: calc(100% - #{$spacing-small});

        body.admin & {
            top: $admin-bar-height + $spacing-tiny;

            height: calc(100% - #{$spacing-small} - #{$admin-bar-height});
        }

        &.is-open {
            pointer-events: all;
            opacity: 1;
            transform: translate(0, 0);
        }
    }
   
    .o-checkbox label {
        padding: 0.25em 0;
        padding-left: 1.5em;

        &:before {
            top: 7px;
        }

        &:after {
            top: 8px;
        }
    }

    &__group {
        position: relative;
        margin-bottom: $spacing;

        &:not(:last-child):after {
            content: '';
            display: block;
            position: absolute;
            bottom: -$spacing-small;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 1px;
            background: theme-color(light-200);
        }
    }

    &__reset {
        color: theme-color(light-250);
        @include font-size(14px, 1.3);
        margin-bottom: $spacing-tiny;
        display: block;
    }

    &__toggle {
        @include mq($from: desktop) {
            display: none;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}