<footer class="c-site-footer">
    <div class="o-wrapper o-wrapper--full">
        <div class="c-site-footer__wrap">
            <div class="o-grid o-grid--small">
                <div class="o-grid__item u-1/4@desktop u-1/2@small-desktop u-margin-bottom" data-aos="fade-up">
                    <div class="c-site-footer__group">
                        <div class="c-site-footer__group-title">Zamówienia</div>
                        <a href="#">Dostawa</a>
                        <a href="#">Zwroty i reklamacje</a>
                        <a href="#">Najczęściej zadawane pytania</a>
                    </div>
                </div>
                <div class="o-grid__item u-1/4@desktop u-1/2@small-desktop u-margin-bottom" data-aos="fade-up" data-aos-delay="50">
                    <div class="c-site-footer__group">
                        <div class="c-site-footer__group-title">{% trans %}Promotions{% endtrans %}</div>
                        <a href="{{ path('sale') }}" title="{% trans %}Sale{% endtrans %}">{% trans %}Sale{% endtrans %}</a>
                    </div>
                </div>
                <div class="o-grid__item u-1/4@desktop u-1/2@small-desktop u-margin-bottom" data-aos="fade-up" data-aos-delay="100">
                    <div class="c-site-footer__group">
                        <div class="c-site-footer__group-title">Informacje</div>
                        <a href="#">O nas</a>
                        <a href="#">Regulamin</a>
                        <a href="#">Polityka prywatności</a>
                    </div>
                </div>
                <div class="o-grid__item u-1/4@desktop u-1/2@small-desktop u-margin-bottom" data-aos="fade-up" data-aos-delay="150">
                    <div class="c-site-footer__group">
                        <div class="c-site-footer__group-title">{% trans %}Contact{% endtrans %}</div>
                        <p>
                            <a href="tel:">123 456 789</a>
                            <a href="mailto:">shop@contact.com</a>
                        </p>
                        <p>
                            Singel 465<br />
                            1012 WP Amsterdam<br />
                            The Netherlands
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>