{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}
{% endblock %}

{% block body_id 'product' %}

{% block body %}
	<section class="c-product u-padding-vertical-huge">
        <div class="o-wrapper">
            {{ product.name }}
        </div>
    </section>
{% endblock %}
