<div class="o-price__wrap">
    <div class="o-price{% if discountPrice %} has-discount {% else %} price {% endif %}">{{ price|format_currency('PLN', locale='pl') }}</div>
    
    {% if discountPrice %}
        <div class="o-price o-price--discount price">{{ discountPrice|format_currency('PLN', locale='pl') }}</div>
    {% endif %}
</div>