body {
    background-color: $body-bg;
    color: $text-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    //padding-top: $header-height;

    hr {
        border-top: 1px solid theme-color(light-200);
    }

    &.admin {
        padding-top: $admin-bar-height;
    }

    &.header-padding {
        padding-top: $header-height;
    }

    &.admin.header-padding {
        padding-top: calc(#{$header-height} + #{$admin-bar-height} + #{$spacing-small});
    }
}