{% extends 'base.html.twig' %}

{% block body %}
    <div class="o-wrapper o-wrapper--full u-padding-vertical-huge">
        <div class="o-grid o-grid--small">
            <div class="o-grid__item u-1/3@desktop u-1/4@wide">
                {%  include 'shop/filters.html.twig' %}
            </div>
            <div class="o-grid__item u-2/3@desktop u-3/4@wide">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
