{% extends 'base.html.twig' %}

{% set settings = {
    valueNames: [ 'price', 'name' ],
    page: 10,
    pagination: true
} %}

{% block body %}
    <div class="c-shop">
        <div class="o-wrapper o-wrapper--full">
            <div class="o-grid o-grid--small js-product-list" id="products-list" data-list-settings="{{ settings|json_encode()|escape() }}">
                <div class="o-grid__item u-1/3@desktop u-1/4@wide">
                    {%  include 'shop/filters.html.twig' %}
                </div>
                <div class="o-grid__item u-2/3@desktop u-3/4@wide">
                    {% block content %}
                    {% endblock %}

                    <ul class="o-pagination pagination u-margin-top" data-aos="fade-up" data-aos-delay="100"></ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
