{% extends 'shop/base.html.twig' %}

{% block title %}{{ title }}
{% endblock %}

{% block body_id 'shop' %}

{% block content %}
    <section class="c-products">
        <div class="c-products__wrap">
            <div class="c-products__spinner o-spinner__wrap js-spinner">
                <div class="o-spinner"></div>
            </div>
            <div class="o-grid o-grid--tiny js-equalize js-filters-products list">
                {% if products|length > 0 %}
                    {% for product in products %}
                        <div class="o-grid__item u-1/3@extra-wide u-1/2@small-desktop js-filters-product" data-product="{{ product.id }}" data-aos="fade-up">
                            {% include 'product/product-tile.html.twig' with {product} %}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="c-products__not-found js-filters-products-not-found">
                <div class="o-card u-padding-vertical-large" data-aos="fade-up">
                    <div class="u-text-center">
                        <h3 class="o-title u-margin-bottom-none">
                            {% trans %}No products found{% endtrans %}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
