{% extends 'shop/base.html.twig' %}

{% block title %}{{ title }}
{% endblock %}

{% block body_id 'shop' %}

{% block content %}
    <section class="c-products">
        {% if products|length > 0 %}
            <div class="o-grid o-grid--tiny js-equalize">
                {% for product in products %}
                    <div class="o-grid__item u-1/3@extra-wide u-1/2@small-desktop" data-aos="fade-up" data-aos-delay="{{ ((loop.index - 1) % 3) * 100 }}">
                        {% include 'product/product-tile.html.twig' with {product} %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}
