{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="c-admin-page">
        <h2 class="c-admin-page__title o-page-title">{% trans %}All categories{% endtrans %}</h2>

        {% if categories|length > 0 %}
            <div class="o-table">
                <div class="o-table__head">
                    <div class="o-table__row">
                        <div class="o-table__cell o-table__cell--image"></div>
                        <div class="o-table__cell o-table__cell--name">{% trans %}Name{% endtrans %}</div>
                    </div>
                </div>
                <div class="o-table__body">
                    {% for category in categories %}
                        <div class="o-table__row">
                            <div class="o-table__cell o-table__cell--image">
                                {% if category.image() %}
                                    <a href="{{ path('admin-edit-category', {id: category.id}) }}">
                                        <img data-src="{{ asset(category.image()) }}" class="js-lazyload" />
                                    </a>
                                {% endif %}
                            </div>
                            <div class="o-table__cell o-table__cell--name"><a href="{{ path('admin-edit-category', {id: category.id}) }}">{{ category.name }}</a></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
