<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}

            <!-- Renders a link tag (if your module requires any CSS)
                 <link rel="stylesheet" href="/build/app.css"> -->
        {% endblock %}
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% if is_granted('ROLE_ADMIN') %}admin {% endif %}{% block body_class %}{% endblock %}">

        {% if is_granted('ROLE_ADMIN') %}
            {%  include 'admin/admin-bar.html.twig' %}
        {% endif %}

        {% block header %}
            {{ render(controller('App\\Controller\\SiteHeaderController::index')) }}
        {% endblock %}

        <div class="o-page">
            {% include 'components/flashes.html.twig' %}

            {% block body %}
            {% endblock %}

            {% set cookieconsentSettings = {
                content: {
                    message: 'As part of our website, we use cookies to provide you with services at the highest level, including in a manner tailored to individual needs. Using the website without changing the cookie settings means that they will be stored on your end device.'|trans(),
                    dismiss: 'I agree'|trans(),
                    link: 'see more'|trans(),
                    href: '/page/title/polityka prywatnosci'
                }
            } %}

            <div class="js-cookieconsent" data-settings="{{ cookieconsentSettings|json_encode()|escape() }}"></div>
        </div>

        {% block footer %}
            {%  include 'footer/site-footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js" defer></script>
                <script src="/build/app.js" defer></script>
                See note below about the "defer" attribute -->
        {% endblock %}
    </body>
</html>
