<div class="c-checkout-address">
    <h2 class="c-checkout-page__title o-title u-margin-bottom" data-aos="fade-up">{% trans %}Address{% endtrans %}</h2>

    {% include 'forms/form-user-fields.html.twig' with {form: form.user} %}

    {% include 'forms/form-address-fields.html.twig' with {form: form.address} %}
</div>