<div class="c-checkout-shipping">
    <h2 class="c-checkout-page__title o-title u-margin-bottom" data-aos="fade-up">{% trans %}Shipping{% endtrans %}</h2>

    {% include 'forms/form-payment-fields.html.twig' %}

    {% include 'forms/form-shipping-fields.html.twig' %}
</div>