{% extends 'checkout/base.html.twig' %}

{% block content %}
    <section class="c-checkout u-margin-vertical-large">
        <div class="o-wrapper o-wrapper--full u-margin-vertical-large">
            {% if cart.items|length > 0 %}  
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="o-grid">
                    <div class="o-grid__item u-1/2@desktop">
                        {% include 'checkout/checkout-address.html.twig' %}
                    </div>
                    <div class="o-grid__item u-1/2@desktop">
                        {% include 'checkout/checkout-shipping.html.twig' %}
                    </div>
                </div>

                {{ form_end(form) }}
            {% else %}
                <div class="u-text-center u-margin-vertical-huge u-padding-vertical-huge">
                    <h2 class="o-title">{% trans %}No items in cart{% endtrans %}</h2>
                    <a href="{{ path('new') }}" title="{% trans %}Go shopping{% endtrans %}" class="o-button o-button--outline">
                        {% trans %}Go shopping{% endtrans %}
                        <span class="o-icon o-icon--chevron-right"></span>
                    </a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}

