{% for message in app.flashes('success') %}
    <div class="c-alert c-alert--success" role="alert">
        {{ message }}
    </div>
{% endfor %}

{% for message in app.flashes('error') %}
    <div class="c-alert c-alert--danger" role="alert">
        {{ message }}
    </div>
{% endfor %}