{% if products|length > 0 %}

<section class="c-product-list o-content">
    <div class="o-wrapper o-wrapper--full">
        {% if title %}
            <h2 class="o-title u-margin-bottom" data-aos="fade-up">{{ title }}</h2>
        {% endif %}

        <div class="c-product-list__wrap">
            <div class="o-grid o-grid--tiny">
                {% for product in products %}
                    <div class="o-grid__item u-1/4@wide u-1/2@small-desktop" data-aos="fade-up" data-aos-delay="{{ ((loop.index - 1) % 4) * 100 }}">
                        {% include 'product/product-tile.html.twig' with {product} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endif %}