$select2-theme: 'shop' !default;

.select2 {
    &-container--#{$select2-theme} {
        .select2-selection {
            width: 100%;
            border: 1px solid theme-color(light-200);
            background: #fff;
            min-height: 3em;
            padding: 0.5em 1em;
            transition: border-color .2s;
            color: #000;
            font-family: $font-family-base;

            &--single {
                height: 48px !important;
                position: relative;
                background-color: transparent;
                text-align: left;
                color: $text-color;
            }

            &__rendered {
                padding-left: 0 !important;
                padding-right: 0 !important;
                padding: 0 !important;
                overflow: visible !important;

                &:after {
                    @include icomoon;
                    content: icon(chevron-right);
                    font-size: 1.25em;
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translate(0,-50%);
                    color: theme-color(primary);
                    display: block;
                    transition: 0.2s transform ease-out, opacity 0.2s ease-out;
                }
            }

            &__placeholder {
                display: none;
            }

            &__arrow {
                display: none;
            }
        }

        .select2-dropdown {
            border-radius: 0 !important;
            border: 1px solid theme-color(primary);
            z-index: 5000;

            &--above {
                border-bottom: 0;
            }

            &--below {
                border-top: 0;
            }
        }

        .select2-results {
            &__options {
                max-height: 40vh;
                overflow: auto;
            }
            &__option {
                padding: 0.5em 1em;
                transition: all .2s ease-in-out;
    
                &:hover,
                &[aria-selected=true] {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
        &.select2-container {
            &--open .select2-selection {
                border-color: #000;
            }
    
            &--open .select2-selection__rendered:after {
                transform: translate(0,-50%) rotate(90deg);
            }
    
            &--disabled .select2-selection {
                opacity: .5;
            }
        }
    }
}
