{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block body_id '404' %}

{% block body %}
     <section class="c-404 u-margin-vertical-large">
        <div class="o-wrapper o-wrapper--full u-margin-vertical-large">
            <div class="u-text-center u-margin-vertical-huge u-padding-vertical-huge" data-aos="fade-up">
                <h2 class="o-title">404</h2>
                <h4 class="o-title">
                {% trans %}The requested page couldn't be located. Checkout for any URL misspelling{% endtrans %}</h4>
                <a href="{{ path('index') }}" title="{% trans %}Return to homepage{% endtrans %}" class="o-button o-button--outline">
                    {% trans %}Return to homepage{% endtrans %}
                    <span class="o-icon o-icon--chevron-right"></span>
                </a>
            </div>
        </div>
    </section>
{% endblock %}