.u-text-center { text-align: center; }
.u-text-right { text-align: right; }
.u-text-left { text-align: left; }
.u-nowrap { white-space: nowrap; }
.u-primary { color: theme-color(primary); }
.u-secondary { color: theme-color(secondary); }