{% extends 'admin/base.html.twig' %}

{% set settings = {
    valueNames: [ 'title', 'pageGroup' ],
    page: 10,
    pagination: true
} %}

{% block content %}
    <div class="c-admin-page">
        <h2 class="c-admin-page__title o-page-title" data-aos="fade-up">{% trans %}All pages{% endtrans %}</h2>

        {% if pages|length > 0 %}
            <div id="pages" class="js-list" data-list-settings="{{ settings|json_encode()|escape() }}">
                <div class="o-field u-margin-bottom" data-aos="fade-up" data-aos-delay="50">
                    <label class="o-input__label" for="">{% trans %}Search{% endtrans %}</label>
                    <div class="o-input__wrap">
                        <input type="text" class="o-input search" />
                        <span class="o-input__suffix"><span class="o-icon o-icon--search"></span></span>
                    </div>
                </div>
                <div class="o-table">
                    <div class="o-table__head">
                        <div class="o-table__row" data-aos="fade-up">
                            <div class="o-table__cell o-table__cell--name">
                                <span class="sort" data-sort="title">{% trans %}Title{% endtrans %}</span>
                            </div>
                             <div class="o-table__cell o-table__cell--group">
                                <span class="sort" data-sort="pageGroup">{% trans %}Page group{% endtrans %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="o-table__body list">
                        {% for page in pages %}
                            <div class="o-table__row" data-aos="fade-up" data-aos-delay="50">
                                <div class="o-table__cell o-table__cell--name title"><a href="{{ path('admin-edit-page', {id: page.id}) }}">{{ page.title }}</a></div>
                                <div class="o-table__cell o-table__cell--group pageGroup">{{ page.pageGroupLabel()|trans }}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <ul class="o-pagination pagination u-margin-top" data-aos="fade-up" data-aos-delay="100"></ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
